@{
    ViewBag.Title = "Registration Information";

    string src = ViewBag.IsConfirmation == null ? "~/images/info.png" : "~/images/success.png";
}
<div class="card mt-1">
    <div class="card-header alert-success">
        <h1>@ViewBag.InfoTitle</h1>
    </div>

    <div class="card-body text-center">
        @if (ViewBag.IsConfirmation != null)
        {

        }
        else { }
        <img class="card-img-top" style="height:auto; width:15%" src="@src" asp-append-version="true" />

        <h3>
            @ViewBag.InfoMessage
        </h3>

    </div>
    <div class="card-footer text-center">
        <h5>Please contact us on <a href="mailto:padmasekhar.ps16@gmail.com">padmasekhar.ps16@gmail.com</a></h5>
    </div>
</div>