@model HomeCreateEmployeeViewModel
@{
    ViewBag.Title = "Employee Details";
}

<form enctype="multipart/form-data" asp-controller="home" asp-action="create" method="post" class="mt-3">

    <partial name="_EmployeeFields" model="Model" />

    <div class="form-group row mb-1">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>